body {
  background: blanchedalmond;
}
* {
  border: 1px solid teal;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
div a {
  border-style: 5px solid black;
  flex-grow: 1;
}
div a,.c{
  flex-grow:1;
}
div .b {
  flex-grow:3;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .c,.b,.a  {
    margin: 1em;
  }
}